@import "reset";

@font-face {
  font-family: "Helevetica Now Regular";
  src: url("./assets/font/HelveticaNowText-Regular.otf");
}

@font-face {
  font-family: "Helevetica Now Medium";
  src: url("./assets/font/HelveticaNowText-Medium.otf");
}

@font-face {
  font-family: "Helevetica Now Bold";
  src: url("./assets/font/HelveticaNowText-Bold.otf");
}

@font-face {
  font-family: "Nike Futura";
  src: url("./assets/font/Futura-Nike.ttf");
}

:root{
  --pl-color: #fff;
  --pd-color: #111;
  --sf-color: #707072;
  --phl-color: #e5e5e5;
  --sg-color: #f5f5f5;
  --pf-regular:  "Helevetica Now Regular", sans-serif;
  --pf-medium:  "Helevetica Now Medium", sans-serif;
  --pf-bold:  "Helevetica Now Bold", sans-serif;
  --sf-bold:  "Nike Futura", impact;
}

*{
  font-family: var(--pf-regular);
}

a{
  text-decoration: none;
  color: var(--pd-color);
}

.link{
  background-color: var(--pd-color);
  color: #fff;
  font-size: 14px;
  padding: 1rem 1.6rem;
  border-radius: 30px;
  display: inline-block;
  border: none;
  cursor: pointer;
  &:hover{
    opacity: 0.8;
  }

  &:active{
    transform: scale(0.98);
  }

 &--light{
  background-color: var(--pl-color);
  color: var(--pd-color);
  border: 1px solid var(--pd-color);
  margin-top: 20px;
 }

 &:disabled{
  opacity: 0.4;
 }
}

.divider{
  height: 1px;
  background-color: gray;
  opacity: .5;
}