.auth{
    max-width: 300px;
    margin: 100px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--sf-color);
    padding: 2rem;
    h1{
        font-size: 2rem;
        margin-bottom: 2rem;
    }
}

.S9gUrf-YoZ4jf{
    display: flex;
    justify-content: center;
}